@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 12, 12);
  color: black;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(148, 148, 148);
}

h1 {
  font-family: 'Anton', sans-serif;
}

p {
  word-break: break-all;
}

span {
  color: rgb(148, 148, 148);
}

.login-container {
  align-items: center;
  background-color: rgb(5, 5, 5);
  box-shadow: 10px 10px 5px black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 20% auto;
  width: 500px;
}
.login-container h1 {
  font-size: 50px;
}

.login-container span{
  color: rgb(0, 134, 52);
}

.login-form {
  display: flex;
  gap: 10px;
}

.login-form input {
  border-radius: 20px;
  padding-left: 10px;
  width: 250px;
}

.login-form input:focus-visible {
  outline: none;
}

.login-form button {
  background-color: rgb(0, 134, 52);
  border-radius: 30px;
  border: none;
  color:  white;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  padding: 0 20px;
  width: 100px;
}

.login-form button:disabled {
  opacity: 0.5;
}


.login-form button:hover {
 opacity: 0.8;
}

.login-loading {
  margin: 20% auto;
}

.login-loading span {
  font-size: 30px;
  color: white;
  margin-left: 50%;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

h1 span {
  color: rgb(0, 134, 52);
}

.sidebar-container {
  align-items: center;
  background-color: rgb(5, 5, 5);
  box-shadow: 5px 5px 5px black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  position: fixed;
  width: 300px;
}

.sidebar-container span {
  color: rgb(0, 134, 52);
}

.sidebar-container hr {
  border-color: rgb(37, 37, 37);
  width: 90%;
}

.sidebar-container ul {
  list-style: none;
}

.sidebar-container li {
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-size: 25px;
}

.sidebar-container li:hover {
  color: white;
}

.sidebar-container a:hover {
  color: white;
}

.user {
  color: white;
  font-size: 20px;
}

.user img {
  height: 40px;
  object-fit: cover;
  width: 40px;
  z-index: 1;
}

.user a {
  align-items: center;
  display: flex;
  gap: 20px;
}

.user span {
  color: rgb(148, 148, 148);
}

.albums-search {
  display: flex;
  color: white;
  gap: 1%;
  margin-left: 50%;
}

.albums-search input {
  border-radius: 20px;
  height: 30px;
  padding-left: 10px;
  width: 300px;
}

.albums-search input:focus-visible {
  outline: none;
}

.albums-search button {
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  border: 3px solid white;
  color: white;
  height: 40px;
  padding: 0 20px;
  width: 100px;
}

.albums-search button:disabled{
  border: 3px solid rgb(100, 100, 100);
  background-color: rgb(12, 12, 12);
  color: rgb(100, 100, 100);
}

.albums-search button:hover {
  opacity: 0.9;
}

.albums-container {
  margin-left: 20%;
  padding: 10px;
  width: 1620px;
}

.albums-container span {
  font-size: 30px;
}

.albums-container div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.albums-container h4 {
  color: white;
}

.album {
  display: flex;
  background-color: rgb(5, 5, 5);
  box-shadow:  12px 12px 10px black;
  color: white;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 5px;
  overflow: hidden;
	overflow-wrap: break-word;
  width: 500px;
}

.album img {
  width: 150px;
}

.album p {
  padding: 0 10px;
  font-weight: 700;
}

.album:hover {
  opacity: 0.7;
}

.album-title {
  display: flex;
  background-color: rgb(5, 5, 5);
  box-shadow: 10px 10px 5px black;
  color: white;
  gap: 30px;
  height: 200px;
  padding: 10px;
  margin-bottom: 5px;
  overflow: hidden;
	overflow-wrap: break-word;
  width: 790px;
}

.album-title img {
  width: 200px;
}

.musics-container {
  color: white;
  margin: auto;
  max-width: 800px;
}

.music {
  background-color: rgb(5, 5, 5);
  box-shadow:  12px 12px 10px black;
  margin-bottom: 10px;
  padding: 20px;
}

.music div{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.music audio {
  width: 600px;
}

.music input, label {
  cursor: pointer;
}

.profile {
  background-color: rgb(5, 5, 5);
  box-shadow:  12px 12px 10px black;
  color: white;
  display: flex;
  gap: 40px;
  margin-left: 40%;
  margin-top: 10%;
  padding: 20px;
  width: 800px;
}

.profile img {
  height: 500px;
  object-fit: cover;
  width: 500px;
  z-index: 1;
}

.profile div button {
  background-color: rgb(0, 134, 52);
  border-radius: 30px;
  border: none;
  color:  white;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  margin-left: 170px;
  margin-top: 290px;
  padding: 0 20px;
  width: 100px;
}

.profile div button:hover {
  opacity: 0.8;
}

.profile-span {
  font-weight: 700;
  color: white;
  margin-right: 10px;
}

.profile-edit {
  background-color: rgb(5, 5, 5);
  box-shadow:  12px 12px 10px black;
  color: white;
  display: flex;
  gap: 40px;
  margin-left: 40%;
  margin-top: 10%;
  padding: 20px;
  width: 800px;
}

.img-box {
  background-color: white;
  max-width: 200px;
  max-height: 200px;
}

.img-profile {
  height: 200px;
  object-fit: cover;
  width: 200px;
  z-index: 1;
}

.profile-edit form {
  display: flex;
  flex-wrap: wrap;
}

.profile-edit form label {
  display: flex;
  flex-direction: column;
  padding: 5px;
  vertical-align: center;
}

label span {
  color: white; 
  font-weight: 700;
}

.profile-edit form label input{
  height: 20px;
  width: 250px;
}

#input-description {
  height: 100px;
  resize: none;
}

textarea {
  width: 520px;
}

.save-edit {
  background-color: rgb(0, 134, 52);
  border-radius: 30px;
  border: none;
  color:  white;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  margin-left: 160px;
  margin-top: 25px;
  padding: 0 20px;
  width: 100px;
}

.save-edit:hover {
  opacity: 0.8;
}

.save-edit:disabled {
  opacity: 0.5;
}